

/* ---------------------------------------------------------------------------------- */

.header {
    max-width: 1440px;
    height: 74px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  /* ---------------------------------------------------------------------------- */
  
  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar a {
    margin: 0 20px 0 20px;
    color:#282828;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
  }
  
  .right img {
    width: 146px;
    height: 44px;
    margin: 0 150px 0 50px;
  }
  
  /* ---------------------------------------------------------------------------- */
  
  .left {
    width: 166px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    border: 2px solid #28A745;
    border-radius: 8px;
    padding: 10px;
  }
  .left span {
    color: #28A745;
    font-weight: bolder;
  }
  
  .left div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left div img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
  }
  
  .left a {
    align-items: center;
    text-decoration: none;
    color: #28A745;
    font-size: 18px;
    font-weight: 500;
  }
  
  /* ============================================================================ */
  